.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background: linear-gradient(
    to bottom,
    rgba(255, 10, 10, 0.47) 0%,
    rgba(245, 133, 12, 0.64) 45%,
    rgba(159, 219, 144, 0.84) 100%
  );
  width: 100vw;
  height: 100vh;
}
